# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\work2\stream-warehouse\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
